@font-face {
	font-family: 'Architects Daughter';
	font-style: normal;
	font-weight: normal;
	src: local('Architects Daughter'), local('ArchitectsDaughter'), url('http://themes.googleusercontent.com/static/fonts/architectsdaughter/v1/RXTgOOQ9AAtaVOHxx0IUBF5f9YK0z_CKegLiCihVlJo.ttf') format('truetype'); 
}

body {
	background-image: url('bg.png');
	font-size: 12px}

.slide {
	font-family: "Architects Daughter";
	color: #ffffff; 
}

.slide:first-of-type h1, body .section-title>h1 {
	font-size: 3em;
	text-align: center; 
}

.slide h1 {
	font-size: 2em;
	text-align: center;
}

.slide:first-of-type h2 {
	font-size: 2em;
}

.slide h2 {
	font-size: 40px;
	text-align: center; 
}

.slide ul {
	font-size: 1.5em; 
}

.slide ul ul {
	font-size: 1em; 
}

.slide li {
	list-style-type: none; 
}

.slide .code {
	font-family: "Courier New", "Courier", monospace;
	font-size: 1.5em;
	white-space: pre;
	}
	
